<div class="topnav">
    <div class="centering">
    <img src="../static/logo.JPG" style="width: 161px; height: 60px;">
    <a href="#">KURSUS OG UDDANNELSE</a>
    <a href="#">BLOG</a>
    <a href="#">PRESSE</a>
    <a href="#">UDTALELSER</a>
    <a href="#">OM</a>
    <a href="#">BOGEN OM NÆNSOM NØDVÆRGE®</a>
    <p><img src="../static/tlf.JPG" style="width: 32px; height: 32px; border-left: 1px solid white;">+45 32 86 01 90
        <a href="/login" style="float: right; ">
            <img src="../static/user.png" style="width: 30px; border-left: 1px solid white; padding-left: 8px; padding-bottom: 3px;">
            <a href="{{url_for('logout')}}">Log ud</a>
        </a></p>

  </div>
</div>
<div id="wrap">